name: Adicionar Petiano no Banco de Dados

on:
  workflow_dispatch:
    inputs:
      nome_completo:
        description: "Nome completo do petiano: "
        required: true
      primeiro_nome:
        description: "Primeiro nome do petiano: "
        required: true
      ultimo_nome:
        description: "Último nome do petiano: "
        required: true
      ano:
        description: "Ano que o petiano entrou: (ex: 2025)"
        required: true
      periodo:
        description: "Periodo do petiano: (ex: 4)"
        required: true
      imagem:
        description: "Nome da imagem do petiano no servidor: (ex: NomePetiano.jpg)"
        required: false  
      sobre:
        description: "Sobre: "
        required: false
jobs:
  inserirPetiano:
    runs-on: ubuntu-latest
    container:
      image: mysql:8.0
    steps:
     - name: Inserir integrante no Banco de Dados
       env:
        NOME_COMPLETO: ${{ github.event.inputs.nome_completo }} 
        PRIMEIRO_NOME: ${{ github.event.inputs.primeiro_nome }}
        ULTIMO_NOME: ${{ github.event.inputs.ultimo_nome }}
        ANO: ${{ github.event.inputs.ano }}
        PERIODO: ${{ github.event.inputs.periodo }}
        IMAGEM: ${{ github.event.inputs.imagem }}
        SOBRE: ${{ github.event.inputs.sobre }}
       run: |
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          
          EXISTE=$(mysql \
            -h ${{ secrets.DB_HOST }} \
            -u ${{ secrets.DB_USER }} \
            -p${{ secrets.DB_PASSWORD }} \
            ${{ secrets.DB_NAME }} \
            -sN \
            -e "SELECT COUNT(*)
                FROM petianos
                WHERE primeiro_nome='$PRIMEIRO_NOME'
                AND ultimo_nome='$ULTIMO_NOME'
                AND ativo=1;")
          if [ "$EXISTE" -gt 0 ]; then
            echo "Já existe um petiano com o nome $PRIMEIRO_NOME $ULTIMO_NOME. Terminando o script."
            exit 1
          fi
          mysql \
            -h ${{ secrets.DB_HOST }} \
            -u ${{ secrets.DB_USER }} \
            -p${{ secrets.DB_PASSWORD }} \
            ${{ secrets.DB_NAME }} \
            -e "INSERT INTO petianos (nome_completo, primeiro_nome, ultimo_nome, ano, periodo, ativo, orientador, voluntario, imagem, sobre)
             VALUES ('$NOME_COMPLETO', '$PRIMEIRO_NOME', '$ULTIMO_NOME', $ANO, $PERIODO, 1, 0, 0, '$IMAGEM', '$SOBRE');"
