name: Adicionar Petiano no Banco de Dados

on:
  workflow_dispatch:

jobs:
  inserirPetiano:
    runs-on: ubuntu-latest
    container:
      image: mysql:8.0
    steps:
     - name: Inserir integrante 
       run: |
          mysql \
            -h ${{ secrets.DB_HOST }} \
            -u ${{ secrets.DB_USER }} \
            -p${{ secrets.DB_PASSWORD }} \
            ${{ secrets.DB_NAME }} \
            -e "INSERT INTO petianos (nome_completo, primeiro_nome, ultimo_nome, ano, periodo, ativo, orientador, voluntario)
            VALUES (teste, teste, teste, 2025, 4, 1, 0, 0);"
